<div class="page header">
  <h2 id="header-title">List of restaurants</h2>
  <p><%= link_to "Add new Restaurant", new_restaurant_path%></p>
</div>
<div id="restaurants-index">
  <% @restaurants.each do |restaurant| %>
  <div class="card col-sm-12 col-md-6 col-lg-4">
    <div class="restaurant">
      <%= link_to "", restaurant_path(restaurant), class: "fill-div" %>
      <div style="background-image: url(<%= restaurant.img_url %>)" class="restaurant-img"></div>
      <div class="restaurant-name"><%= restaurant.name %></div>
      <div class="restaurant-stars">3</div>
    </div>
  </div>
  <% end %>
</div>
